# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# TypeScript
*.tsbuildinfo

# Build output
dist/
build/

# Coverage directory used by testing tools
coverage/

# React
/frontend/node_modules/
frontend/build/

# Ignore .env files in frontend
/frontend/.env

# Ignore the lock files specific to each package manager
package-lock.json
yarn.lock
